{% render 'partials/head.liquid', title: 'Squad page' %}

<h2>Filteren op:</h2>
<a href="/genre">Action</a>
<a href="/genre">Comedy</a>
<a href="/genre">Drama</a>
<a href="/genre">Thriller</a>

<h2>Students</h2>
<ul>
  {% for person in persons %}
    <li><a href="/student/{{ person.id }}">{{ person.name }}</a></li>
  {% endfor %}
</ul>

{% render 'partials/foot.liquid', squads: squads %}