main {
    background-image: url(../../docs/bookshelf-selfmade.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(254 230 184); */
    background-color: #FEE6B8;
}

h1 {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
    font-size: 3em;
}

h2 {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
    font-size: 1.5em;
}

a {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
    font-size: .75em;
}

p {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
    font-size: .75em;
}